.cabecalho-crud h1{
    padding: 0;
    margin-left: 45px;
    font-size: 16px;
    }
.cabecalho-crud{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 125px;
}
table{
    border:1px solid black;
    margin: 20px auto 10px;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    
}
table thead{
    background:rgb(190, 190, 190) ;
    color: black;
    text-transform: uppercase;
    height: 50px;
}

th,tr,td{
    /* border:1px solid black; */
    border-collapse: collapse;

}

td{
    padding: 10px 5px;
    color:rgb(190, 190, 190) ;
}

.opcoes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.opcoes a{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 20px;
}
.opcoes .editar{
color: rgb(59, 255, 59);
}
.opcoes .excluir{
color: rgb(255, 0, 0);
}
.opcoes .editar:hover{
color: black;
}
.opcoes .excluir:hover{
color: black;
}