body{
    background-color: rgb(24, 24, 24);
}
a{text-decoration: none;}

.background{
    width: 100%;
    height: 200px;
}

.formulario{
    margin: 20px auto 10px;
    width:50%;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(190, 190, 190);
}

.formulario label{
    margin-right: 10px;
    color:rgb(2, 2, 2);
}

.formulario input{
    background: #e9e8e8;
    border: 1px solid rgb(0, 0, 0);
    height: 30px;
    margin: 5px 0;
    width: 80%;
    padding: 2px 15px;
    border-radius: 8px;
    color: rgb(0, 0, 0);
}
/* !broken */

.formularioitem {
text-align: right;
}
    
    


#id 
#cadastrocategoria{
    padding-bottom: 0.1%;
    width: 34%;
    background-color: rgb(190, 190, 190);
}
body header{
    background-color: rgb(190, 190, 190);
}
a{text-decoration: none;}

/* todo arrumar a table */

table{
    border:1px solid black;
    margin: 20px auto 10px;
    width: 80%;
    border-collapse: collapse;
    text-align: center;
}

table thead{
    background:rgb(190, 190, 190) ;
    color: black;
    text-transform: uppercase;
    height: 50px;
}

th,tr,td{
    /* border:1px solid black; */
    border-collapse: collapse;

}

td{
    padding: 10px 5px;
    color:rgb(190, 190, 190) ;
}

