@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro";
}

<div>
    <h1>Cadastro</h1>
</div>

    <div>
        <h1>Teste Home</h1>
        <form action="/Home/Salvar" method="post">
        <label for="id">Id</label><input type="number" name="id" value="" />
        <label for="nome">Nome</label><input type="text" name="nome" value="" />
        <label for="descricao">Descricao</label><input type="text" name="descricao" value="" />
        <input type="submit" name="salvar" value="Salvar" />
        </form>
    </div>