@model List<Webapp.Models.Produto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lista";
}

<div>
    <h1>Lista</h1>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th></th>    
            <th></th>    
            <th>Id</th>
            <th>Nome</th>
            <th>Descricao</th>
        </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.id</td>
                <td>@item.nome</td>
                <td>@item.descricao</td>
                <td><a href="" class="btn btnEditar">Editar</a> | <a href="/Home/Deletar/@item.id" class="btn btnExcluir">Excluir</a></td>
            </tr>

            }
        </tbody>       
    </table>
</div>
